<ion-view view-title="images">
    <ion-content>

        <div class="list padding">
            <div class="item item-image">
                <img src="img/2.jpg">
            </div>
            <div class="item text-right item-divider">
                <p>
                    青青草地，悠悠芬芳
                </p>
            </div>
        </div>
        <div class="list padding">
            <div class="item item-image">
                <img src="img/3.jpg">
            </div>
            <div class="item item-divider text-right">
                <p>
                    白玉兰，花洁白、美丽且清香
                </p>
            </div>
        </div>
        <div class="list padding">

            <div class="item item-image">
                <img src="img/4.jpg">
            </div>
            <div class="item item-divider padding">
                <p>
                    一缀粉，点亮了世界，融化了寒冬，带来了一抹春
                </p>
            </div>
        </div>

        <div class="list padding">

            <div class="item item-image">
                <img src="img/5.jpg">
            </div>
            <div class="item item-divider text-right">
                <p>
                    耸立的街灯
                </p>
            </div>
        </div>


    </ion-content>
</ion-view>
